---
title:     Tulokset
bodyclass: newproject
---

%section#main
  %h1 Tulokset

  %ul
    %li
      == #{link_to "Mikon Leipä-stage (5.5.2015)", "https://events.navigeist.com/fi/events/2/legs/6/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157652379343831"
    %li
      == #{link_to "Hippa-stage (12.5.2015)", "https://events.navigeist.com/fi/events/2/legs/8/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157650369473734"
    %li
      == #{link_to "Fast-stage (19.5.2015)", "https://events.navigeist.com/fi/events/2/legs/9/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157652700049450"
    %li
      == #{link_to "Gopal-stage (26.5.2015)", "https://events.navigeist.com/fi/events/2/legs/10/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157653083917320/"
    %li
      %strong= link_to "Kokonaistilanne", "https://events.navigeist.com/fi/events/2/total_results"