---
title:     Tulokset
bodyclass: newproject
layout: layout-2017
---

%section#main
  %h1 Tulokset

  %ul
    %li
      == #{link_to "Hippa-stage (2.5.2017)", "https://events.navigeist.com/fi/events/7/legs/22/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157680207063473/"
    %li
      == #{link_to "HieroJari-stage (9.5.2017)", "https://events.navigeist.com/fi/events/7/legs/23/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/albums/72157681725488720"
    %li
      == #{link_to "Gopal-stage (16.5.2017)", "https://events.navigeist.com/fi/events/7/legs/24/results"},
      / = link_to "kuva-albumi", "https://www.flickr.com/gp/131233811@N02/S1qi6E"
    %li
      %strong= link_to "Kokonaistilanne", "https://events.navigeist.com/fi/events/7/total_results"