---
title:     Tulokset
bodyclass: newproject
layout: layout-2017
---

%section#main
  %h1 Tulokset

  %ul
    %li
      == #{link_to "HieroJari-stage (26.4.2016)", "https://events.navigeist.com/fi/events/4/legs/14/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157665296897503/"
    %li
      == #{link_to "Hippa-stage (3.5.2016)", "https://events.navigeist.com/fi/events/4/legs/15/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157667295522540/"
    %li
      == #{link_to "Nippeli-stage (10.5.2016)", "https://events.navigeist.com/fi/events/4/legs/16/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/gp/131233811@N02/S1qi6E"
    %li
      == #{link_to "Fast-stage (17.5.2016)", "https://events.navigeist.com/fi/events/4/legs/17/results"},
      = link_to "kuva-albumi", "https://flic.kr/s/aHskwHz154"
    %li
      == #{link_to "Noname-stage (24.5.2016)", "https://events.navigeist.com/fi/events/4/legs/18/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/albums/72157666350429373"
    %li
      == #{link_to "Mikon Leipä -stage (31.5.2015)", "https://events.navigeist.com/fi/events/4/legs/19/results"}
      / = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/albums/72157666350429373"
    %li
      %strong= link_to "Kokonaistilanne", "https://events.navigeist.com/fi/events/4/total_results"

  %ul
    %li
      = link_to "Kauppi Trail 17.7.2016", "https://events.navigeist.com/fi/events/6/legs/21/results"
        