---
title:     Tulokset
bodyclass: newproject
layout: layout-2021
---

%section#main
  %h1 Tulokset

  /
    %p Tulokset ja kuvalinkit lisätään tänne kilpailuiden jälkeen

  %ul
    %li
      == #{link_to "Kauppi Sports Center -stage (27.7.2021)", "https://events.navigeist.com/fi/events/11/legs/42/results/"},
      = link_to "kuva-albumi", "https://flic.kr/s/aHsmWhGxuX"
    %li
      == #{link_to "Gopal-stage, Suolijärvi (3.8.2021)", "https://events.navigeist.com/fi/events/11/legs/43/results"},
      = link_to "kuva-albumi", "https://flic.kr/s/aHsmWkez7C"
    %li
      == #{link_to "Noname-stage, Lamminpää (10.8.2021)", "https://events.navigeist.com/fi/events/11/legs/44/results"},
      = link_to "kuva-albumi", "https://flic.kr/s/aHsmWsQEUE"
    /
      %li
        == #{link_to "Mikon leipä -stage (18.8.2020)", "https://events.navigeist.com/fi/events/10/legs/40/results"},
        = link_to "kuva-albumi", "https://flic.kr/s/aHsmQ6yMBV"
      %li
        == #{link_to "Mikon leipä -stage (25.8.2020)", "https://events.navigeist.com/fi/events/10/legs/41/results"},
        = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/albums/72157715630986466/with/50268191857/"
    %li
      %strong= link_to "Kokonaistilanne", "https://events.navigeist.com/fi/events/11/total_results"
