---
title:     Tulokset
bodyclass: newproject
layout: layout-2018
---

%section#main
  %h1 Tulokset

  *Ainahan ne on mielessä, mutta juostaan nyt ensin.*

  -# %ul
  -#   %li
  -#     == #{link_to "Hippa-stage (2.5.2018)", "https://events.navigeist.com/fi/events/7/legs/22/results"},
  -#     = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157680207063473/"
  -#   %li
  -#     == #{link_to "HieroJari-stage (9.5.2018)", "https://events.navigeist.com/fi/events/7/legs/23/results"},
  -#     = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/albums/72157681725488720"
  -#   %li
  -#     == #{link_to "Gopal-stage (16.5.2018)", "https://events.navigeist.com/fi/events/7/legs/24/results"},
  -#     = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157680754428634/"
  -#   %li
  -#     == #{link_to "Nippeli-stage (23.5.2018)", "https://events.navigeist.com/fi/events/7/legs/25/results"}
  -#     = link_to "Kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157681991694341/"
  -#   %li
  -#     == #{link_to "Mikon leipä -stage (30.5.2018)", "https://events.navigeist.com/fi/events/7/legs/26/results"}
  -#     = link_to "Kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157682246567991/"
  -#   %li
  -#     %strong= link_to "Kokonaistilanne", "https://events.navigeist.com/fi/events/7/total_results"
