---
title:     Tulokset
bodyclass: newproject
---

%section#main
  %h1 Tulokset

  %ul
    %li
      == #{link_to "HieroJari-stage (26.4.2016)", "https://events.navigeist.com/fi/events/4/legs/14/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157665296897503/"
    %li
      == #{link_to "Hippa-stage (3.5.2016)", "https://events.navigeist.com/fi/events/4/legs/15/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157667295522540/"
    %li
      == #{link_to "Nippeli-stage (10.5.2016)", "https://events.navigeist.com/fi/events/4/legs/16/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/gp/131233811@N02/S1qi6E"
    / %li
    /   == #{link_to "Fast-stage (19.5.2015)", "https://events.navigeist.com/fi/events/2/legs/9/results"},
    /   = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157652700049450"
    / %li
    /   == #{link_to "Gopal-stage (26.5.2015)", "https://events.navigeist.com/fi/events/2/legs/10/results"},
    /   = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157653083917320/"
    / %li
    /   == #{link_to "HieroJari-stage (2.6.2015)", "https://events.navigeist.com/fi/events/2/legs/11/results"},
    /   = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157653913435385/"
    / %li
    /   %strong= link_to "Kokonaistilanne", "https://events.navigeist.com/fi/events/2/total_results"
