---
title:     Tulokset
bodyclass: newproject
layout: layout-2019
---

%section#main
  %h1 Tulokset

  %ul
    %li
      == #{link_to "Kauppi Sports Center -stage (30.4.2019)", "https://events.navigeist.com/fi/events/9/legs/32/results/"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157708330896974/"
    %li
      == #{link_to "Premiumsport-stage, Lamminpää (7.5.2019)", "https://events.navigeist.com/fi/events/9/legs/33/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157708466517384/"
    %li
      == #{link_to "HierojaMikko-stage (14.5.2019)", "https://events.navigeist.com/fi/events/9/legs/34/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157691432967123/"
    %li
      == #{link_to "Njie-stage (21.5.2019)", "https://events.navigeist.com/fi/events/9/legs/35/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157708553847585/"
    %li
      == #{link_to "Mikon leipä -stage (28.5.2019)", "https://events.navigeist.com/fi/events/9/legs/36/results"},
      = link_to "kuva-albumi", "https://www.flickr.com/photos/131233811@N02/sets/72157708807488162/"
    %li
      %strong= link_to "Kokonaistilanne", "https://events.navigeist.com/fi/events/9/total_results"
