---
title:     Tulokset
bodyclass: newproject
---

%section#main
  %h1 Tulokset

  %ul
    %li= link_to "HieroJari-stage (6.5.2014)", "http://events.navigeist.com/fi/events/1/legs/1/results"
    %li= link_to "Gopal-stage (13.5.2014)", "http://events.navigeist.com/fi/events/1/legs/2/results"
    %li= link_to "Navigeist-stage (20.5.2014)", "http://events.navigeist.com/fi/events/1/legs/3/results"
    %li= link_to "Mikon leipä -stage (27.5.2014)", "http://events.navigeist.com/fi/events/1/legs/4/results"
    %li= link_to "Fast-stage (3.6.2014)", "http://events.navigeist.com/fi/events/1/legs/5/results"
    %li
      %strong= link_to "Kokonaistilanne", "http://events.navigeist.com/fi/events/1/total_results"